/*Navigation Styling*/
#main-navbar
{
	position: relative;
	width: 100%;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	background-color: blue;
}

#navbar-container
{
	position: relative;
	float: left;
	left: 50%;
}

#navbar-container ul
{
	position: relative;
	margin: 0;
	padding: 0;
	float: left;
	right: 50%;
	display: block;
	list-style-type: none;
}

#navbar-container ul li
{
	padding: 10px 20px;
	float: left;
	display: block;
}

#navbar-container a
{
	text-decoration: none;
	color: #fff;
}

#navbar-container a:active
{
	background-color: #000;
}

#onpage a
{
	text-decoration: underline overline;
}

/* Side Bar Styling */
#sidebar
{
	position: fixed;
	width: 20%;
	height: 100%;
	right: 0%;
	text-align: center;
	background-color: red;
}

#sidebar ul
{
	padding: 0;
	display: block;
	list-style-type: none;
}

#sidebar ul li
{
	padding: 15px 0px;
}

#sidebar-container a
{
	text-decoration: none;
	color: #fff;
}

#sidebar-container a:active
{
	background-color: #000;
}